{% extends "paggle_home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="sidebuttons">
        <a href="#">Click to See Example Script for Guidance</a>
    </div>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Model Form</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn-outline-info" type="submit">Create Model</button>
            </div>
        </form>
    </div>

{% endblock content %}