{% extends "paggle_home/base.html" %}
{% block content %}
    <h1>Click "Select Dataset" to select a dataset and read it's description before choosing to use it.</h1>

        <div class="dropdown">
            <div class="button_placement">
                <div class="big-button">
                    <a href="#">Select Dataset</a>
                </div>
                <div class="dropdown-content">
                    {% for dataset in datasets %}
                    <a href="{% url 'selectData-detail' dataset.id %}">{{ dataset.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

    <div class="left">
        <div class="button-placement">
            <div class="big-button">
                <a href="{% url 'paggle-selectTask' %}">← Re-select Task</a>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="button-placement">
            <div class="big-button">
                <a href="{% url 'paggle-selectModel' %}">Use Dataset →</a>
            </div>
        </div>
    </div>
{% endblock content %}