{% extends "paggle_home/base.html" %}
{% block content %}
    <div class="split left">
        <div class="sidenav">
            <h3>Go Back</h3>
            <div class="sidebuttons">
                <a href="{% url 'paggle-selectTask' %}">Choose a different Task</a>
            </div>    
        </div>
    </div>

    <div class="split right">
        <h1>Step 2: Select Dataset</h1>

        <div class="label">
            <h2>⇲</h2>
        </div>
        <div class="label_data">
            {% for dataset in datasets %}
                <a href="{% url 'selectData-detail' dataset.id %}">{{ dataset.name }}</a>
            {% endfor %}
        </div>

    </div>
{% endblock content %}