*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.container {
    padding-top: 90px;
}

.paggle-logo {
    text-decoration: none;
    font-size: 32px;
    line-height: 37px;
    color: white;
    padding: 1rem;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    background-color: #325AE7;
    text-decoration: none;
    color: white;
    padding: 5px 5px 5px 5px;
}

.main-nav a:hover {
    color: grey;
}

.main-header {
    width: 100%;
    height: 80px;
    background-color: #5281FA;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    flex-wrap: wrap;
}

.main-footer {
    width: 100%;
    height: 100px;
    background-color: rgba(82, 129, 250, 0.64);
    position: fixed;
    bottom: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.main-footer img {
    width: 10em;
    margin-right: .25rem;
}

.signUpButton a {
    position: absolute;
    background-color: green;
    width: 315px;
    height: 50px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding-top: 10px;
}

.signUpButton a:hover {
    color: gray;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 150px;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.left{
    float: left;
    width: 50%;
    padding: 30px 5px 5px 5px;
}

.right {
    float: right;
    width: 50%;
    padding: 30px 5px 5px 5px;
}

/* Home page CSS */
.split {
    height: 80%;
    width: 50%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow: hidden;
    padding-top: 20px;
}

.left {
    align-items: flex-end;
    text-align: right;
    padding: 70px 0;
    padding-right: 10px;
    left: 0;
    width: 30%;
}

.left h2 {
    font-size: 30px;
    color: #325AE7;
}

.left h3 {
    font-size: 20px;
}

.right {
    right: 0;
    width: 70%;
    height: 700px;
    padding-left: 10px;
}
/* Select Task */

.select_buttons {
    position: relative;
    width: 100%;
    height: 500px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}
.left_button, .right_button{
    color: white;
    text-align: right;
    display: inline-block;
    width: 45%;
    height: 100%;
    background-color: #5281FA;
    padding: 200px 10px 50px 10px;
    border-radius: 20px;
    box-shadow: 1px 5px 2px rgba(255, 255, 255, 0.25);
}

.left_button a, .right_button a {
    color: white;
    text-decoration: none;
}

.left_button h1, .right_button h1 {
    text-align: left;
    border-top: 2px solid black;
    padding-top: 20px;
}

.left_button a:hover, .right_button a:hover {
    color: black;
} 

/* Select Data */

.sidenav {
    background-color: #5281FA;
    height: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidenav a{
    text-decoration: none;
    color: white;
}

.sidenav a:hover{
    color: black;
}

.sidebuttons {
    font-size: 20px;
    align-items: center;
    text-align: center;
    height: 20%;
    padding-top: 5px;
    background-color: #325AE7;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.next_button {
    background-color: #008000;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 80%;
    bottom: 20%;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
}

.next_button a {
    text-decoration: none;
    color: white;
}

.next_button a:hover {
    color: black;
}

.label {
    background-color: #5281FA;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.label_data {
    font-size: 20px;
    align-items: center;
    text-align: center;
    height: 10%;
    padding-top: 20px;
    background-color: #325AE7;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.label_data a {
    text-decoration: none;
    color: white;
}

.label_data a:hover {
    color: black;
}

/* Select Model */