{% extends "paggle-home/base.html" %}
{% block content %}

    <h2> Machine Learning meets Healthcare
        <br> Secure and Accessible
        <br> One dataset at a time
    </h2>

    <h3> Create an Account </h3>

    <ul>
        <li> First Name </li>
        <li> Last Name </li>
        <li> Email Address </li>
        <li> New Password </li>
        <li> Authentication Code </li>
        <div class="signUpButton">
            <a href="#">Sign Up</a>
        </div>
    </ul>


{% endblock content %}